@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

/* Hilangkan default password reveal button (Chrome, Edge) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

/* Safari iOS password reveal fix */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
